@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggle-checkbox:checked {
  transform: translateX(100%);
}

.toggle-checkbox {
  transition: transform 0.3s ease-in-out;
}

.toggle-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-label span {
  pointer-events: none;
}

@keyframes swipe {
  0% {
    transform: translate(100%, -100%) rotate(45deg);
  }
  100% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
}

.group:hover:before {
  content: '';
  position: absolute;
  width: 150%;
  height: 20%;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.8), transparent);
  opacity: 0.5;
  transform: translate(100%, -100%) rotate(45deg);
  animation: swipe 2s linear;
  animation-delay: 0s;
  pointer-events: none;
}

@media (max-width: 768px) {
  .group:hover:before {
    display: none;
  }

  .group {
    padding: 2px;
  }

  .group .md\:w-1\/2 {
    width: 100%;
  }

  .group .text-center {
    text-align: center;
  }

  .group img {
    width: 100%;
  }

  .group:hover:before {
    width: 120%;
    height: 10%;
  }
}

@media (max-width: 640px) {
  .about-image-container {
    height: 250px;
  }
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.50; /* légèrement transparent, optionnel */
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1; /* le point actif bien visible */
}